---
import { GenerateImage } from '../components/GenerateImage';
import Layout from '../layouts/Layout.astro';
import { imageQuery } from './api/imageGen';
// import ollama from 'ollama';

// const output = await ollama.generate({
//   model: 'llama3.2',
//   prompt: 'what is the sun made up of?',
// });

// console.log(output);
---

<Layout title="WHAT THE IF!">
  <!-- <button id="setTheme">theme.setTheme("auto")</button>
  <p><code>theme.getTheme()</code> returns: <code id="getTheme"></code></p> -->
  <h1>What the if!</h1>
  <!-- <div>
    {output.response}
  </div> -->
  <div>
    <GenerateImage client:only="react" />
  </div>
</Layout>

<style>
  code {
    background-color: black;
    color: white;
    font-style: italic;
    border-radius: 5px;
    padding: 2px;
  }
</style>