---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import './styles/home.scss';
// import ollama from 'ollama';

// const output = await ollama.generate({
//   model: 'llama3.2',
//   prompt: 'what is the sun made up of?',
// });

// console.log(output);
---

<Layout title="WHAT THE IF!">
  <!-- <button id="setTheme">theme.setTheme("auto")</button>
  <p><code>theme.getTheme()</code> returns: <code id="getTheme"></code></p> -->
  <div class="homeContainer">
    <div class="homeCard">
      <Image src="/images/big-blue-monster.jpeg" alt="What the if! logo" width={400} height={400} class="homeImage" />
      <div class="homeCardContent">
        <h1>What the IF!</h1>
        <a href="/new" class="homeButton">LET'S GET STARTED!</a>
      </div>
    </div>
  </div>
  <!-- <div>
    {output.response}
  </div> -->
</Layout>

<style>
  code {
    background-color: black;
    color: white;
    font-style: italic;
    border-radius: 5px;
    padding: 2px;
  }
</style>